header {
    background-image: url("../images/mogu.gif");
    text-align: center;
}

body {
    background-color: lightblue;
    background-image: url("../images/bg.png");
    height: 100%;
    background-repeat: repeat-x, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#header1 {
    font-size: 35px;
    text-shadow: 10px;
}

#header2{
    font-family: Arial;
    font-size: 10px;
}

#aboutme {
    font-family: Arial;
    text-indent: 50px;
}

#to-github {
    font-family: Arial;
    font-size: 15px;
}

#to-github:link, #to-github:visited {
    background-color: white;
    color: black;
    border: 2px solid pink;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
}

#to-github:hover, #to-github:active {
    background-color: pink;
}